@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* =========================
   PALETA DE COLORES
========================= */
:root {
    --color-main-1: #269088;
    --color-main-2: #141414;
    --color-main-3: #E0E0E0;
    --color-main-4: #5BCDC4;

    --gray-1: #FBFBFB;
    --gray-2: #B1B1B1;
    --gray-3: #7A7A7A;
    --gray-4: #464646;
    --gray-5: #262626;

    --bg: #F8F9FC;
    --width: 393px;
    --height: 852px;
}



/* =========================
   1. RESET / BASE
========================= */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* =========================
   2. VARIABLES
========================= */
:root {
    --bg: #F8F9FC;
    --width: 393px;
    --height: 852px;
}

/* =========================
   3. LAYOUT PANTALLA
========================= */
body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background: #ddd;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.screen {
    width: 393px;
    min-height: 852px;
    background: var(--bg);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.content {
    flex: 1;
    padding-bottom: 95px; /* espacio para el nav */
}

/* Importa la fuente Poppins de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');