.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 75px;
  padding: 19px 10px 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  background: rgba(0, 0, 0, 0.907);
  z-index: 999;
}

.nav-btn {
  background: transparent;
  border: none;
}

.nav-btn svg {
  width: 40px;
  height: 40px;
  color: var(--gray-3);
}

.nav-btn.active svg {
  color: var(--color-main-1);
}

.bottom-nav .nav-btn img {
  background: transparent;
}

/* Agregar esto */
.content {
  padding-bottom: 95px; /* altura del nav + padding */
}