.bottom-nav {
    height: 75px;
    padding: 19px 10px 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0.81) 62.94%,
            rgba(0, 0, 0, 0.90) 99.99%);
}

.nav-btn {
    background: transparent;
    border: none;
}

.nav-btn svg {
  width: 40px;
  height: 40px;
  color: var(--gray-3); /* color normal */
}

.nav-btn.active svg {
  color: var(--color-main-1); /* color activo */
}

.bottom-nav .nav-btn img {
    background: transparent;
}