.reels-container {
    height: calc(852px - 75px);
    background: #141414;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.reels-container::-webkit-scrollbar {
    display: none;
}

.reel {
    width: 100%;
    height: calc(852px - 75px);
    position: relative;
    scroll-snap-align: start;
}

.reel-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reel-overlay {
    position: absolute;
    inset: 0;
}

/* Logo */
.reel-logo {
    position: absolute;
    top: 16px;
    left: 16px;
}

.reel-logo img {
    width: 36px;
    height: 36px;
}

/* Acciones */
.reel-actions {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.action-btn {
    background: transparent;
    border: none;
    padding: 0;
}

.action-btn img {
    width: 32px;
    height: 32px;
}

/* Info */
.reel-info {
    position: absolute;
    bottom: 10px;
    left: 10%;
    display: flex;
    gap: 12px;
    color: #fff;
}

.profile-pic {
    width: 47px;
    height: 47px;
    border-radius: 50%;
}

.username,
.title {
    font-size: 16px;
}

.title {
    color: var(--gray-2);
}

/* Barra de progreso del video */
.video-progress-bar {
    position: absolute;
    bottom: 75px;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgba(255, 255, 255, 0.2);
    z-index: 3;
}

.progress-fill {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #41d58b, #17873e);
    transition: width 0.9s linear;
}
